<h1>Room</h1>

<form action="/rooms" method="post">
    <label for="price">Price: </label>
    <input type="number" name="price" id="price">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name">
    <label for="description">Description: </label>
    <input type="text" name="description" id="description">

    <button type="submit">Post a room</button>
</form>